:host {
    font-weight: 800;
    background-color: #dfdf41;
    color:#2e2d2d;
    padding:4px 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: block;
    transition: 0.3s;
}

:host:hover {
    color: #fff ;
}

:host:active {
    color: #fff ;
    background-color: #555;
}