<li
  [class]="{
    'status-open': task().status === 'open',
    'status-in-progress': task().status === 'in-progress',
    'status-complete': task().status === 'complete'
  }"
>
  <h5>
    title <span>{{ task().timeStamp }}</span>
  </h5>
  <p>{{ task().title }}</p>
  <h5>description</h5>
  <p>{{ task().description }}</p>

  <form (ngSubmit)="updateTask(task().id, status.value)">
    <select [ngModel]="task().status" name="action" #status>
      <option value="open">Open</option>
      <option value="in-progress">In progress</option>
      <option value="complete">Complete</option>
    </select>
    <button type="submit">Update</button>
  </form>
  <button (click)="removeTask(task().id)" appButton>Delete task!</button>
</li>
