<li>
  <h5>
    title <span>{{ task().timeStamp }}</span>
  </h5>
  <p>{{ task().title }}</p>
  <h5>description</h5>
  <p>{{ task().description }}</p>

  <form (ngSubmit)="updateTask(task().id, task().status)">
    <select name="action" #statusSelect>
      <option [value]="'open'">Open</option>
      <option [value]="'in-progress'">In progress</option>
      <option [value]="'complete'">complete</option>
    </select>
    <button>Update</button>
  </form>

  <button (click)="removeTask(task().id)" appButton>Delete task!</button>
</li>
