article {
    margin:auto;
    max-width: 500px;
    background-color: #292929;
    padding:16px;
    margin-block: 16px;
    border-radius: 16px;
}
article h5 {
    color:#dfdf41;
    display: flex;
    justify-content: space-between;
}

article p {
    color:#ccc;
}

