article {
    margin:auto;
    max-width: 500px;
    background-color: #292929;
    padding:16px;
    margin-block: 16px;
    border-radius: 16px;
}
article h5 {
    color:#dfdf41;
    display: flex;
    justify-content: space-between;
}

article p {
    color:#ccc;
}

article button {
    font-weight: 800;
    background-color: #dfdf41;
    color:#555;
    padding:4px 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-inline: auto 0;
    display: block;
    transition: 0.3s;
}

article button:hover {
    color: #dfdf41 ;
    background-color: #555;
}


article button:active {
    color: #fff ;
    background-color: #555;
}